@charset "utf-8";
@font-face {
	font-family: 'fontello';
	src: url('../fonts/plusminus.eot?22659832');
	src: url('../fonts/plusminus.eot?22659832#iefix') format('embedded-opentype'), url('../fonts/plusminus.woff2?22659832') format('woff2'), url('../fonts/plusminus.woff?22659832') format('woff'), url('../fonts/plusminus.ttf?22659832') format('truetype'), url('../fonts/plusminus.svg?22659832#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?22659832#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-plus-1:before {
	content: '\e802';
}


/* 'о ‚' */

.icon-minus-1:before {
	content: '\e803';
}


/* 'о ѓ' */

@font-face {
	font-family: PT-Sans-Bold;
	src: url("../fonts/web/ptsansbold.woff");
	/* Путь к файлу со шрифтом */
}

@font-face {
	font-family: PT-Sans-Regular;
	src: url("../fonts/web/PTSansRegular.ttf");
	/* Путь к файлу со шрифтом */
}

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.fieldset {
	border: 0;
}

.text_decoration_none {
	list-style-type: none;
}

.img {
	max-width: 100%;
}

.body {
	background-color: #f2f2f2;
	position: relative;
}
.header {
	margin: 0 auto;
	max-width: 1200px;
}

.main {
	margin: 0 auto;
	max-width: 1200px;
}

.footer {
	max-width: 1200px;
	margin: 0 auto;
}



.header_photo_content {
	display: block;
	text-align: center;
	background-image: url("../img/background_header.jpg");
	padding-top: 76px;
	padding-bottom: 87px;
	position: relative;
}
.header_photo_content::after{
content: '';
	display: block;
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
		left:0;
	background-image: url("../img/polygon.png");
}
.real_city {
	display: flex;
}

.real_city_content {
	background-color: #81b3d2;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 45px 59px 64px 59px;
	text-align: center;
	text-transform: uppercase;
}

.benefit {
	display: flex;
	flex-direction: column;
}

.bridge_of_the_devil {
	display: flex;
}

.bridge_of_the_devil_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #81b3d2;
}

.deskription {
	display: flex;
	flex-direction: column;
}

.social_links {
	display: flex;
	align-items: center;
}

.social_links a {
	background-color: #81b3d2;
}
.social_links li{
	margin-right: 6px;
}
.social_links li a:hover{
	background-color:#669ec0;
}
.social_links li a:active{
	background-color:#88b6d1;
}
.social_links li:last-child{
	margin-right: 0;
}

.twitter {
	padding: 16px 14px 16px 16px;
}

.facebook {
	padding: 13px 17px 13px 17px;
}



.contact_footer {
	display: flex;
	flex-direction: column;
	font-size: 21px;
	line-height: 26px;
	font-family: PT-Sans-Bold;
	text-transform: uppercase;
	font-weight: bold;
}

.contact_footer a {
	color: #000000;
}

.youtube {
	padding: 16px 13px 16px 13px;
}

.main_intro {
	max-width: 458px;
}

.facebook {
	padding-top: 19px;
}

.what-have-found {
	display: flex;
}

.rangediv {
	height: 2px;
	width: 253px;
	color: #fff;
	background-color: #fff;
	position: relative;
	margin-bottom: 32px;
	margin-top: 23px;
}

.rangediv img:first-child {
	position: absolute;
	top: -9px;
}

.rangediv img:last-child {
	position: absolute;
	top: -9px;
	left: 200px;
}

.menu_main {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	background-color: #fff;
}

.logo {
	position: absolute;
	left: 45%;
}

.menu_main ul {
	display: flex;
	padding-top: 22px;
	padding-bottom: 24px;
	justify-content: space-around;
}

.menu_main ul a {
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
	font-family: PT-Sans-Bold;
	font-weight: bold;
}

.menu_main ul a:hover {
	color: #81b3d2;
}

.menu_main ul a:active {
	color: #b2b2b2;
}

.menu_main ul a:visited {
	color: #766357;
}

.small_city {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 65px;
	padding-bottom: 59px;
	background-color: #ffffff;
}

.small_city>p {
	text-transform: uppercase;
}

.small_city_sedona {
	font-family: PT-Sans-Bold;
	font-weight: bold;
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	max-width: 441px;
	text-align: center;
	margin-bottom: 41px;
}

.small_city_five_reasons {
	font-size: 14px;
	line-height: 26px;
	font-family: PT-Sans-Regular;
	color: #333333;
}

.real_city_header {
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	margin-bottom: 29px;
}

.real_city_number {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 32px;
}

.benefits-list {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: #fff;
}

.benefits-list li {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
}

.benefits-list li:first-child {
	max-width: 255px;
}

.benefits-list li:nth-child(2) {
	max-width: 286px;
}

.benefits-list li:nth-child(3) {
	max-width: 272 px;
}

.sedona_is_not_entertainment {
	font-family: PT-Sans-Regular;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
}

.benefits-list {
	padding-top: 62px;
	padding-bottom: 88px;
}

.icon_benefits {
	margin-bottom: 29px;
}

.benefits_deskription {
	font-family: PT-Sans-Bold;
	font-weight: bold;
	margin-bottom: 32px;
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
}

.benefits_deskription_text {
	font-family: PT-Sans-Regular;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.bridge_of_the_devil_deskription {
	font-family: PT-Sans-Bold;
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	margin-bottom: 29px;
	text-transform: uppercase;
	color: #ffffff;
}

.number_two {
	font-size: 14px;
	line-height: 21px;
	font-family: PT-Sans-Regular;
	margin-bottom: 29px;
	color: #fff;
}

.yes_you_can_walk_on_it {
	font-size: 14px;
	line-height: 21px;
	font-family: PT-Sans-Regular;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.deskription_of_the_benefits {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 65px;
	background-color: #eeeeee;
}

.deskription {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.deskription_in_deskription_of_the_benefits {
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	margin-bottom: 29px;
}

.deskription_in_deskription_of_the_benefits_bottom {
	margin-bottom: 29px;
}

.deskription_in_deskription_of_the_benefits:first-child {
	max-width: 117px;
}

.number_in_deskription {
	font-family: PT-Sans-Regular;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 32px;
}

.main_text_in_deskription {
	font-size: 14px;
	line-height: 21px;
	font-family: PT-Sans-Regular;
	text-transform: uppercase;
}

footer {
	background-image: url("../img/map.jpg");
	padding-top: 472px;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.content_footer {
	align-items: center;
	padding-top: 36px;
	padding-bottom: 33px;
	background-color: #fdfdfd;
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.footer_logo {
	display: flex;
	align-items: center;
}

.footer_logo span {
	margin-right: 8px;
	font-size: 14px;
	line-height: 26px;
	font-family: PT-Sans-Regular;
	text-transform: uppercase;
}

.have_u_interested {
	padding-top: 58px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
}

.did_u_interest {
	font-size: 30px;
	line-height: 36px;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	margin-bottom: 38px;
	text-transform: uppercase;
}

.fill_in_date_range {
	font-size: 14px;
	line-height: 24px;
	font-family: PT-Sans-Regular;
	text-transform: uppercase;
	max-width: 434px;
	text-align: center;
	padding-bottom: 141px;
}

.find_hotels_in_sedona {
	font-size: 21px;
	line-height: 26px;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	background-color: #766357;
	text-align: center;
	display: flex;
}
.find_hotels_in_sedona a{
	padding: 35px 140px 35px 140px;
	color: #fff;
}
.find_hotels_in_sedona a:hover{
	cursor: pointer;
}
.find_hotels_in_sedona:hover{
	background-color: #604e43;
}
.find_hotels_in_sedona a:active{
	color: #857871;
}
.modal-icon {
	position: absolute;
    top: 0;
    left: 26.2%;
    max-width: 570px;
    height: 483px;
}


/* Cтилизация hotels.html*/

.without_map {
	background-image: inherit;
	padding-top: 0;
	background-color: #fefefe;
}

.content_filters {
	background-image: url("../img/hotels_flter_background.jpg");
	display: flex;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 73px;
	padding-right: 73px;
}

.type_of_home {
	margin-right: 347px;
}

.list_filters {
	font-size: 14px;
	line-height: 21px;
	font-family: PT-Sans-Regular;
	text-transform: uppercase;
	color: #fff;
}

.heads_filters {
	font-size: 16px;
	line-height: 21px;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 29px;
}

.infrastructure {
	display: flex;
	flex-direction: column;
	margin-right: 113px;
}

.infrastructure ul li {
	display: flex;
	align-items: center;
	margin-bottom: 23px;
}

.infrastructure ul li input {
	margin-right: 16px;
}

.type_of_home ul li {
	display: flex;
	align-items: center;
	margin-bottom: 23px;
}

.type_of_home ul li input {
	margin-right: 16px;
}

.price_in_day {
	margin-bottom: 15px;
}

.from {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: PT-Sans-Regular;
	color: #fff;
}

.to {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: PT-Sans-Regular;
	color: #fff;
}

.show {
	background-image: inherit;
	background-color: inherit;
	border: 2px solid #fff;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: PT-Sans-Regular;
	color: #fff;
	padding: 11px 33px 11px 33px;
}

.what-have-found {
	padding-left: 73px;
	padding-right: 73px;
	padding-top: 32px;
	padding-bottom: 34px;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}

.found_results_in_filter {
	font-family: PT-Sans-Bold;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	margin-right: 50px;
}

.sort_in_filter {
	font-size: 12px;
	line-height: 18px;
	font-family: PT-Sans-Regular;
}

.sort_in_filter {
	margin-right: 39px;
}

.center_good {
	display: flex;
}

.main_content_good {
	display: flex;
}

.content_good {
	display: flex;
	flex-direction: column;
}

.good {
	background-color: #fefefe;
	padding-bottom: 61px;
	padding-bottom: 30px;
	padding-top: 30px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.center_good {
	padding-left: 73px;
	padding-right: 73px;
	justify-content: space-between;
}

.img_good {
	margin-right: 36px;
}

.hotels_from {
	margin-top: 18px;
	margin-bottom: 20px;
}

.hotels_from span:first-child {
	margin-right: 50px;
}

.hotels_from span {
	font-size: 14px;
	line-height: 21px;
	font-family: PT-Sans-Regular;
	text-transform: uppercase;
}

.content_good_header {
	font-size: 21px;
	line-height: 26px;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	text-transform: uppercase;
}

.more_in_good_link {
	font-family: PT-Sans-Bold;
	font-weight: bold;
	background-color: #81b3d2;
	text-transform: uppercase;
	padding: 8px 17px 8px 17px;
	color: #fff;
	margin-right: 6px;
}

.more_in_good_link:hover {
	background-color: #669ec0;
}

.more_in_good_link:active {
	color: #88b6d1;
}

.book {
	font-family: PT-Sans-Bold;
	font-weight: bold;
	background-color: #766357;
	text-transform: uppercase;
	padding: 8px 15px 8px 15px;
	color: #fff;
}

.book:hover {
	background-color: #604e43;
}

.book:active {
	color: #857871;
}

.stars_rating {
	margin-bottom: 47px;
}

.rating {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.rating span {
	background-color: #f2f2f2;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	font-family: PT-Sans-Regular;
	padding: 6px 14px 6px 14px;
}

.sorting_link {
	font-size: 12px;
	line-height: 18px;
	font-family: PT-Sans-Regular;
}

.sorting_link a {
	text-transform: uppercase;
}
.sorting_link a:hover {
	color: #b3d1e4;
}
.sorting_link a:active {
	color: #000;
}

.for_price {
	margin-right: 30px;
}

.for_price a {
	color: #d1d1d1;
}

.sorting_link a:hover {
	color: #81b3d2;
}

.sorting_link {
	border-bottom: 1px dashed #81b3d2;
}

.for_type a {
	color: #d1d1d1;
}

.for_rating a {
	color: #d1d1d1;
}

.for_type {
	margin-right: 30px;
}

.arrows a img {
	color: #cacaca;
}

.from_input {
	color: #fff;
	background-color: inherit;
	border: 0;
	max-width: 43px;
}

.input_ranges {
	max-width: 180px;
	border: 2px solid #fff;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-right: 50px;
	padding-left: 65px;
	margin-bottom: 11px;
}
.adults_label {
	margin-right: 31px;
}
.first_plus_minus_span{
	margin-right: 53px;
}
.children_label{
	margin-right: 27px;
}
/*стилизация модального окна*/

.modal {
	background-color: #fff;
	padding: 55px;
	width: 84.6%;
	    width: 461px;
}

.middle_text_form {
	font-size: 14px;
	line-height: 26px;
	font-family: PT-Sans-Bold;
	text-transform: uppercase;
	font-weight: bold;
}
.middle_form_date{
	padding-right: 0;
}

.date_checkin_input{
	margin-right: 13px;
}
.date_checkout_input{
	margin-right: 10px;
}
.input_plus_img:first-child input{
	width: 74%;
}

.date_checkin{
	padding-right: 0;
}
.input_plus_img {
	display: flex;
	align-items: center;
	position: relative;
}
.input_plus_img svg{
	position: absolute;
	right: 5%;
}
.icon-minus-1{
	color: #a9a9a9;
}
.icon-minus-1:hover{
	color: #000000;
}
.icon-minus-1:active{
	color: #81b3d2;
}
.icon-plus-1{
	color: #a9a9a9;
}
.icon-plus-1:hover{
	color: #000000;
}
.icon-plus-1:active{
	color: #81b3d2;
}
.input_plus_img input{
	    font-size: 16px;
    line-height: 26px;
    font-family: PT-Sans-Bold;
    padding: 14px 0 14px 14px;
	width: 68%;
}
.modal fieldset{
	padding-left: 0;
}
.middle_form_date {
	display: flex;
}

.plus_negative {
	display: flex;
}


.plus_minus_span input{
	max-width: 38px;
	text-align: center;
}
.modal-icon fieldset input {
	border: 0;
	background-color: #f2f2f2;
}
.modal-icon fieldset input:hover {
	background-color: #ebebeb;
}
.modal-icon fieldset input:focus {
	background-color: #ffffff;
}


.modal_submit {
	background-color: #81b3d2;
	border: 0;
	width: 100%;
	padding: 17px 0 21px 0;
	text-transform: uppercase;
	color: #fff;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	margin-top: 54px;
}


/*hard filter begin*/

.filter-range {
	width: 330px;
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 9px;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	display: flex;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-family: PT-Sans-Regular;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-family: PT-Sans-Regular;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}

.modal_submit:hover {
	background-color: #669ec0;
}

.modal_submit:active {
	color: #88b6d1;
}
.negative_positive{
	display: flex;
}
.plus_minus_span{
	display: flex;
}
.plus_minus_span button{
	background-color: #f2f2f2;
	border: 0;
}
.footer_logo a{
	width: 116px;
	height: 40px;
	
}
.logo_footer_htmlacademy{
	fill:#231f20;
}
.logo_footer_htmlacademy:hover{
	fill:#81b3d2;
}
.logo_footer_htmlacademy:active{
	fill:#dedddd;
}
.up_arrow{
	fill: #cacaca;
}
.up_arrow:hover{
	fill: #231f20;
}
.up_arrow:active{
	fill: #81b3d2;
}
.down_arrow{
	fill: #cacaca;
}
.down_arrow:hover{
	fill: #231f20;
}
.down_arrow:active{
	fill: #81b3d2;
}
.calendar{
	fill:#cacaca;
}
.calendar:hover{
	fill:#000;
}
.plus_minus_input{
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-family: PT-Sans-Bold;
}
.list_filters{
	padding-left: 30px;
	position: relative;
}
.list_filters::after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-image: url("../img/checkbox-off.svg");
}
.heads_input:checked + .list_filters::after{
	background-image: url("../img/checkbox-on.svg");
	background-image: no-repeat;
}
.heads_input:disabled + .list_filters::after{
background-color: #6a6a6a;
}
.heads_input{
	display: none;
}