@charset "utf-8";
@font-face {
	font-family: 'fontello';
	src: url('../fonts/plusminus.eot?22659832');
	src: url('../fonts/plusminus.eot?22659832#iefix') format('embedded-opentype'), url('../fonts/plusminus.woff2?22659832') format('woff2'), url('../fonts/plusminus.woff?22659832') format('woff'), url('../fonts/plusminus.ttf?22659832') format('truetype'), url('../fonts/plusminus.svg?22659832#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?22659832#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	vertical-align: center;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-plus-1:before {
	content: '\e802';
}


/* 'о ‚' */

.icon-minus-1:before {
	content: '\e803';
}


/* 'о ѓ' */

@font-face {
	font-family: PT-Sans-Bold;
	src: url("../fonts/web/ptsansbold.woff");
	/* Путь к файлу со шрифтом */
}

@font-face {
	font-family: PT-Sans-Regular;
	src: url("../fonts/web/PTSansRegular.ttf");
	/* Путь к файлу со шрифтом */
}

.main_content_for_all {
	max-width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 6px #dedede;
}

body {
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	background-color: #f2f2f2;
}

.footer {
	position: relative;
	z-index: 1000;
}

a {
	text-decoration: none;
}

* {
	padding: 0;
	margin: 0;
}

.fieldset {
	border: 0;
}

.text_decoration_none {
	list-style-type: none;
}

.img {
	max-width: 100%;
}

.header {
	margin: 0 auto;
	max-width: 1200px;
}

.main {
	margin: 0 auto;
	max-width: 1200px;
}

.header_photo_content {
	text-align: center;
	background-color:#F3EBEB; 
	background-image: url(../img/background_header.jpg);
	background-size: cover;
	background-position: -3px -58px;
	padding-top: 76px;
	padding-bottom: 72px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header_photo_content::after {
	content: '';
	display: block;
	height: 58px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: url("../img/polygon.png");
}

.real_city {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.real_city_content {
	background-color: #81b3d2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 47px 59px 59px 59px;
	text-align: center;
	text-transform: uppercase;
}

.benefit {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.bridge_of_the_devil {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bridge_of_the_devil_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #81b3d2;
	padding-left: 49px;
	padding-right: 49px;
}

.deskription {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.social_links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 3px;
	margin-right: 50px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 159px;
}

.social_links li {
	background-color: #81b3d2;
}

.social_links li {
	margin-right: 6px;
	margin-bottom: 6px;
}

.social_links li a:hover {
	background-color: #669ec0;
}

.social_links li a:active {
	background-color: #88b6d1;
}

.twitter {
	padding-top: 17px;
	padding-right: 14px;
	padding-left: 15px;
	padding-bottom: 9px;
}

.facebook {
	padding-bottom: 13px;
	padding-left: 17px;
	padding-top: 13px;
	padding-right: 19px;
}

.header_photo_content h1 {
	display: none;
}

.youtube {
	padding-top: 16px;
	padding-right: 13px;
	padding-bottom: 13px;
	padding-left: 13px;
}

.contact_footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 21px;
	line-height: 26px;
	font-family: PT-Sans-Bold;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 22px;
	max-width: 232px;
}

.contact_footer a {
	color: #000000;
}

.main_intro {
	max-width: 458px;
	margin-bottom: 8px;
}

.what-have-found {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.rangediv {
	height: 2px;
	width: 253px;
	color: #fff;
	background-color: #fff;
	position: relative;
	margin-bottom: 32px;
	margin-top: 23px;
}

.rangediv img:first-child {
	position: absolute;
	top: -9px;
}

.rangediv img:last-child {
	position: absolute;
	top: -9px;
	left: 200px;
}

.menu_main {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	background-color: #fff;
}

.logo {
	position: absolute;
	left: 50%;
	margin-left: -70px;
	z-index: 100;
}

.menu_main ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 14px;
	padding-bottom: 16px;
	width: 1056px;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.navigation_list {
	max-width: 1200px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 auto;
}

.navigation_list li {
	width: 240px;
}

.navigation_list li:nth-child(4n) {
	text-align: right;
}

.navigation_list li:nth-child(4n-1) {
	text-align: right;
	margin-left: auto;
}

.cart_of_the_state {
	letter-spacing: 0.5px;
}

.navigation_list li:nth-child(4n-2) {
	text-align: left;
	margin-right: auto;
}

.navigation_list li:nth-child(4n-3) {
	width: 240px;
	text-align: left;
}

.information {
	margin-left: 34px;
}

.foto_and_video {
	margin-left: 7px;
}

.menu_main a {
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
	font-family: PT-Sans-Bold;
	font-weight: bold;
}

.hotels {
	margin-left: 114px;
}

.menu_main {
	max-width: 1200px;
}

.menu_main ul a:hover {
	color: #81b3d2;
}

.menu_main ul a:active {
	color: #b2b2b2;
}

.item-active a{
	color:#766357;
}

.small_city {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 59px;
	padding-bottom: 50px;
	background-color: #ffffff;
}

.small_city>p {
	text-transform: uppercase;
}

.small_city_sedona {
	font-family: PT-Sans-Bold;
	font-weight: bold;
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	max-width: 441px;
	text-align: center;
	margin-bottom: 29px;
	margin-left: -2px;
}

.small_city_five_reasons {
	font-size: 14px;
	line-height: 26px;
	font-family: 'PT Sans', sans-serif;
	color: #333333;
	margin-left: 0px;
	letter-spacing: 0.1px;
	text-align: center;
}

.real_city_header {
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	margin-bottom: 23px;
	max-width: 122px;
}

.real_city_number {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 22px;
	margin-top: 1px;
}

.benefits-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	margin-top: 15px;
	text-transform: uppercase;
	width: 33%;
	word-break: break-word;
}

.benefits_souvenirs_header {
	margin-bottom: 34px;
}

.sedona_is_not_entertainment {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
}

.benefits-list {
	padding-top: 42px;
	padding-bottom: 81px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	background-color: #fff;
}

.recommend_to_live_first_child {
	max-width: 257px;
}

.icon_benefits {
	margin-bottom: 28px;
}

.benefits_deskription {
	font-family: PT-Sans-Bold;
	font-weight: bold;
	margin-bottom: 32px;
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
}

.header_benefits {
	margin-bottom: 24px;
}

.header_benefits:nth-child(2n) {
	margin-bottom: 24px;
	margin-left: -2px;
}

.order_all_the_time {
	max-width: 286px;
}

.benefits_deskription_text {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.bridge_of_the_devil_deskription {
	font-family: PT-Sans-Bold;
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	max-width: 150px;
	margin-top: 46px;
	margin-bottom: 23px;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
}

.not_only_chinese {
	max-width: 273px;
	margin-top: -7px;
}

.number_two {
	font-size: 14px;
	line-height: 21px;
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 21px;
	color: #fff;
}

.yes_you_can_walk_on_it {
	font-size: 14px;
	line-height: 21px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	max-width: 303px;
}

.deskription_of_the_benefits_main {
	background-color: #eeeeee;
}

.deskription_of_the_benefits {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1045px;
	margin: 0 auto;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 60px;
}

.deskription {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	word-wrap: break-word;
}

.deskription:first-child {
	padding-left: 18px;
	width: 208px;
}

.deskription:nth-child(2n) {
	margin-left: 20px;
	width: 263px;
}

.deskription:nth-child(3n) {
	width: 263px;
	width: 250px;
}

.deskription_in_deskription_of_the_benefits {
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	margin-bottom: 24px;
}

.deskription_in_deskription_of_the_benefits_bottom {
	margin-bottom: 29px;
}

.deskription_in_deskription_of_the_benefits:first-child {
	max-width: 123px;
}

.number_in_description {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 22px;
}

.main_text_in_deskription {
	font-size: 14px;
	line-height: 21px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
}

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.have_u_interested iframe {
	position: relative;
	z-index: 1;
}

.content_footer {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 33px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 999px;
	margin: 0 auto;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	word-break: break-word;
	padding-top: 25px;
}

.content_footer_background {
	background-color: #fdfdfd;
	width: 100%;
}

.footer_logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer_logo span {
	margin-right: 8px;
	font-size: 14px;
	line-height: 26px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
}

.have_u_interested {
	padding-top: 51px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
}

.did_u_interest {
	font-size: 30px;
	line-height: 36px;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	margin-bottom: 23px;
	text-transform: uppercase;
	max-width: 298px;
	text-align: center;
}

.fill_in_date_range {
	font-size: 14px;
	line-height: 24px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	max-width: 436px;
	text-align: center;
	padding-bottom: 47px;
}

.find_hotels_in_sedona {
	font-size: 21px;
	line-height: 26px;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	background-color: #766357;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.fill_in_date_range {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.find_hotels_in_sedona a {
	padding: 30px 140px 30px 140px;
	color: #fff;
	max-width: 668px;
}

.find_hotels_in_sedona a:hover {
	cursor: pointer;
}

.find_hotels_in_sedona:hover {
	background-color: #604e43;
}

.find_hotels_in_sedona a:active {
	color: #857871;
}

.modal-icon {
	position: absolute;
	top: 86px;
	left: 0;
	max-width: 570px;
	height: auto;
}


/* Cтилизация hotels.html*/

.without_map {
	background-color: #fefefe;
	background-image: inherit;
	padding-top: 0;
	
}

.content_filters {
	background-color:#F3EEEE;
	background-image: url(../img/hotels_flter_background.jpg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-size: cover;
	padding-top: 26px;
	padding-bottom: 7px;
	padding-left: 71px;
	padding-right: 73px;
}

.type_of_home {
	margin-right: 347px;
}

.list_filters {
	font-size: 14px;
	line-height: 21px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	color: #fff;
}

.heads_filters {
	font-size: 16px;
	line-height: 21px;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 24px;
}

.infrastructure {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-right: 116px;
}

.infrastructure ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 25px;
	max-width: 112px;
	word-break: break-all;
}

.infrastructure ul li input {
	margin-right: 16px;
}

.type_of_home ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 25px;
}

.type_of_home ul li input {
	margin-right: 16px;
}

.price_in_day {
	margin-bottom: 15px;
}

.from {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
}

.to {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
}

.show {
	background-image: inherit;
	background-color: inherit;
	border: 2px solid #fff;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	padding: 11px 33px 11px 33px;
}

.what-have-found {
	padding-right: 73px;
	padding-top: 30px;
	padding-bottom: 29px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color: #fff;
	padding-left: 72px;
}

.found_results_in_filter {
	font-family: PT-Sans-Bold;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	max-width: 118px;
	word-break: break-word;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-right: 49px;
}

.sort_in_filter {
	font-size: 12px;
	line-height: 18px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	margin-top: 4px;
	margin-right: 39px;
}

.result_filter {
	margin-left: 3px;
}

.sorting_link_container {
	max-width: 518px;
}

.center_good {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.what-have-found_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.main_content_good {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.content_good {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.good {
	background-color: #fefefe;
	padding-bottom: 16px;
	padding-top: 28px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.center_good {
	padding-left: 73px;
	padding-right: 73px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.img_good {
	margin-right: 30px;
	margin-top: 2px;
}

.hotels_from {
	margin-top: 6px;
	margin-bottom: 18px;
}

.hotels_from span:first-child {
	max-width: 110px;
}

.hotels_from span:last-child {
	max-width: 142px;
}

.img_good:nth-child(2n) {
	margin-top: 0;
}

.img_good:nth-child(3n) {
	margin-top: 0;
}

.hotel_span {
	margin-right: 34px;
}

.hotels_from span {
	font-size: 14px;
	line-height: 21px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
}

.content_good_header {
	font-size: 21px;
	line-height: 26px;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	max-width: 258px;
}

.more_in_good_link {
	font-family: PT-Sans-Bold;
	font-weight: bold;
	background-color: #81b3d2;
	text-transform: uppercase;
	padding: 5px 17px 5px 17px;
	color: #fff;
	margin-right: 2px;
	font-size: 14px;
	line-height: 21px;
}

.more_in_good_link:hover {
	background-color: #669ec0;
}

.more_in_good_link:active {
	color: #88b6d1;
}

.book {
	font-family: PT-Sans-Bold;
	font-weight: bold;
	background-color: #766357;
	text-transform: uppercase;
	padding: 5px 18px 5px 15px;
	color: #fff;
	font-size: 14px;
	line-height: 21px;
}

.book:hover {
	background-color: #604e43;
}

.book:active {
	color: #857871;
}

.stars_rating {
	margin-bottom: 43px;
	margin-top: 2px;
}

.stars_rating img:first-child {
	margin-right: 4px;
}

.good:first-child {
	padding-bottom: 29px;
}

.good:nth-child(2n) {
	padding-top: 26px;
	padding-bottom: 29px;
}

.rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	max-width: 110px;
}

.rating span {
	background-color: #f2f2f2;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	font-family: 'PT Sans', sans-serif;
	padding: 4px 11px 4px 15px;
}

.sorting_link {
	font-size: 12px;
	line-height: 18px;
	font-family: 'PT Sans', sans-serif;
	max-width: 76px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.sorting_link a {
	text-transform: uppercase;
}

.sorting_link a:hover {
	color: #b3d1e4;
}

.sorting_link a:active {
	color: #000;
}

.for_price {
	margin-right: 30px;
}

.for_price a {
	color: #d1d1d1;
}

.sorting_link a:hover {
	color: #81b3d2;
}

.sorting_link {
	border-bottom: 1px dashed #81b3d2;
}

.for_type a {
	color: #d1d1d1;
}

.for_rating a {
	color: #d1d1d1;
}

.for_type {
	margin-right: 30px;
}

.arrows a img {
	color: #cacaca;
}

.arrows a:first-child {
	margin-right: 7px;
}

.arrows a:last-child {
	margin-right: 0;
}

.from_input {
	color: #fff;
	background-color: inherit;
	border: 0;
	max-width: 43px;
}

.input_ranges {
	max-width: 180px;
	border: 2px solid #fff;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-right: 50px;
	padding-left: 65px;
	margin-bottom: 11px;
}

.adults_label {
	margin-top: 8px;
	margin-right: 39px;
	font-size: 14px;
	line-height: 26px;
	font-family: PT-Sans-Bold;
	color: #000;
}

.first_plus_minus_span {
	margin-right: 51px;
}

.children_label {
	margin-right: 28px;
	margin-top: 8px;
	font-size: 14px;
	line-height: 26px;
	font-family: PT-Sans-Bold;
	color: #000;
}


/*стилизация модального окна*/

.modal {
	background-color: #fff;
	padding: 46px 55px 55px 55px;
	width: 84.6%;
	width: 461px;
}

.middle_text_form {
	font-size: 14px;
	line-height: 26px;
	font-family: PT-Sans-Bold;
	text-transform: uppercase;
	font-weight: bold;
}

.middle_form_date {
	padding-right: 0;
}

.date_checkin_input {
	margin-right: 20px;
	margin-top: 8px;
	letter-spacing: 0.08px;
	max-width: 96px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-family: PT-Sans-Bold;
	color: #000000;
}

.date_checkout_input {
	margin-right: 13px;
	letter-spacing: 0.3px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-family: PT-Sans-Bold;
	color: #000000;
	margin-top: 7px;
}

.input_plus_img:first-child input {
	width: 72%;
	margin-top: 2px;
}

.date_checkin {
	padding-right: 0;
	margin-bottom: 6px;
}

.input_plus_img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.input_plus_img svg {
	position: absolute;
	right: 2%;
	top: 23%;
}

.icon-minus-1 {
	color: #a9a9a9;
}

.icon-minus-1:hover {
	color: #000000;
}

.icon-minus-1:active {
	color: #81b3d2;
}

.icon-plus-1 {
	color: #a9a9a9;
}

.icon-plus-1:hover {
	color: #000000;
}

.icon-plus-1:active {
	color: #81b3d2;
}

.input_plus_img input {
	font-size: 14px;
	line-height: 26px;
	font-family: PT-Sans-Bold;
	padding: 5px 0 5px 12px;
	text-transform: uppercase;
}

.modal fieldset {
	padding-left: 2px;
}

.middle_form_date {
	display: -webkit-box;
	margin-bottom: 3px;
}

.plus_negative {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.plus_minus_span input {
	width: 38px;
	text-align: center;
}

.modal-icon fieldset input {
    border: 2px solid transparent;
	background-color: #f2f2f2;
}

.modal-icon fieldset input:hover {
	background-color: #ebebeb;
}

.input_plus_img:first-child input:focus{
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}
.input_plus_img:nth-child(2n) input:focus{
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.modal_submit {
	background-color: #81b3d2;
	border: 0;
	width: 99%;
	padding: 15px 8px 16px 1px;
	text-transform: uppercase;
	color: #fff;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	font-size: 21px;
	margin-top: 41px;
	line-height: 26px;
	margin-left: 2px;
}

.plus_minus_span button:first-child {
	padding-left: 7px;
	padding-top: 2px;
}

.plus_minus_span input {
	padding-left: 2px;
}

.plus_minus_span button:last-child {
	padding-top: 11px;
	padding-bottom: 5px;
	padding-right: 5px;
}


/*hard filter begin*/

.filter-range {
	width: 330px;
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 9px;
	font-family: PT-Sans-Bold;
	font-weight: bold;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	margin-left: 3px;
}

.price-controls {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 34px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.input_plus_img .date_checkout {
	padding-left: 12px;
}

.span_motel {
	margin-right: 60px;
}

.price-controls label {
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	margin-top: -1px;
	margin-left: 66px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 33px 6px 35px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
	margin-left: 85px;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}

.modal_submit:hover {
	background-color: #669ec0;
}

.modal_submit:active {
	color: #88b6d1;
}

.negative_positive {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.plus_minus_span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.plus_minus_span button {
	background-color: #f2f2f2;
	border: 0;
}

.footer_logo a {
	width: 116px;
	height: 40px;
}

.logo_footer_htmlacademy {
	fill: #231f20;
}

.logo_footer_htmlacademy:hover {
	fill: #81b3d2;
}

.logo_footer_htmlacademy:active {
	fill: #dedddd;
}

.up_arrow {
	fill: #cacaca;
}

.up_arrow:hover {
	fill: #231f20;
}

.up_arrow:active {
	fill: #81b3d2;
}

.down_arrow {
	fill: #cacaca;
}

.down_arrow:hover {
	fill: #231f20;
}

.down_arrow:active {
	fill: #81b3d2;
}

.calendar {
	fill: #cacaca;
}

.calendar:hover {
	fill: #000;
}

.plus_minus_input {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-family: PT-Sans-Bold;
}

.list_filters {
	padding-left: 40px;
	position: relative;
}

.list_filters::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-image: url("../img/checkbox-off.svg");
}

.heads_input:checked+.list_filters::after {
	background-image: url("../img/checkbox-on.svg");
	background-image: no-repeat;
}

.heads_input:checked:disabled+.list_filters::after {
	background-image: url("../img/checkbox-on-disabled.svg");
	background-image: no-repeat;
}
.heads_input:disabled+.list_filters::after {
	background-image:url("../img/checkbox-disabled.svg");
	background-image: no-repeat;
}

.heads_input {
	display: none;
}

.visitsedona {
	margin-bottom: 5px;
}

.type_of_home_label {
	padding-left: 40px;
}

.price-controls .max-price {
	margin-left: 56px;
}

.apartaments {
	margin-right: 17px;
}



.plus_minus_input_last_child {
	padding-left: 9px;
}

.infrastructure .heads_filters:first-child {
	letter-spacing: 0.3px;
}

.arrows {
	margin-top: 5px;
}

.arrows a {
	margin-right: 5px;
}

.good:nth-child(3n) {
	padding-bottom: 28px;
	padding-top: 26px;
}

.hotels_page_footer {
	margin-left: 27px;
	margin-right: 172px;
}

.visitsedona_footer {
	margin-top: 3px;
}

.contact_footer_hotels {
	margin-left: 28px;
	margin-top: 8px;
}

.hidden {
	display: none;
}

.animate {
	-webkit-animation: bounce 3s;
	animation: bounce 3s;
}

.error {
	color: red;
	font-size: 30px;
	text-transform: uppercase;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}
	70% {
		-webkit-transform: translateX(30px);
		transform: translateX(30px);
	}
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translateY(10);
		transform: translateY(10);
	}
	70% {
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
	90% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

.modal-error {
	-webkit-animation: shake 0.6s;
	animation: shake 0.6s;
}


/*правка соц иконок*/

.twitter {
	padding: 16px 14px 16px 16px;
}

.facebook {
	padding: 13px 17px 13px 17px;
}

.youtube {
	padding: 16px 13px 16px 13px;
}

.social_links a {
	background-color: #81b3d2;
	display: block;
}

.social_links li {
	margin-right: 6px;
	min-height: 50px;
	margin-top: 3px;
}

.social_links li:hover {
	background-color: #669ec0;
}

.social_links li a:active {
	background-color: #88b6d1;
}

.social_links li:last-child {
	margin-right: 0;
}

.content_footer_hotels {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.social_links_hotels {
	margin-top: 9px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: -5px;
	margin-right: 50px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 159px;
}

.footer_logo_hotels {
	margin-top: 16px;
}

.min-price input {
	padding-bottom: 8px;
}

.max-price input {
	padding-bottom: 8px;
}
.non-active a{
	color: #000000;
}
.item-active a{
	color: #9b8d84
}